

  <div class="aboutCard row m-5 rounded shadow  " >
        <img class="col-lg-6 col-10 mx-auto p-4" src="img/atic_f1.jpg" style="width: 100%;">

      <div class="mx-auto text-center col-lg-6 d-flex justify-content-center align-items-center flex-column p-4" data-aos="zoom-out">
        <h4>Agriculture Technology Information Centre (ATIC)</h4>
        <p>Established on 26th August, 2001 with the financial support of ICAR, which acts as one stop shop for the farmers and other stakeholders. </p>
      </div>
    </div>
    <div class="card aboutItem p-5">
        <h5>Objectives</h6>
          <ul class="px-5 text-justify">
            <li>To provide better coordination and intensive interaction between the researchers and technology users beyond individual research units of the University in contributing towards the dissemination of information.</li>
            <li>To serve as a "Single Window System" with an objective to help farmers and other stakeholders such as farmer-entrepreneurs, extension workers, development agencies, Non-Government Agencies (NGOs) and private sector organizations to provide solutions for their location- specific problems in agriculture and make available all the technological information along with technology inputs and products.</li>
            <li>To build up required confidence among farmers and to strengthen linkage between the University and the farmers.</li>
            <li>To provide diagnostic services such as soil and water testing, plant diseases and livestock health diagnosis and advisory services accordingly.</li>
            <li>To sale and distribute improved products emerging as a result of research being done at different colleges and research centres of the university like seeds, planting materials, livestock breeds, fish seed, poultry strains and processed products etc.</li>
            <li>To provide overview of improved technologies through published literatures and other communication materials.</li>
            <li>To overcome technology dissemination loss by providing direct access of farmers to improved expertise as well as technological products.</li>
            <li>To provide an opportunity to the colleges/research centres to have resource generation through sale of their technologies and technological products.</li>
            <li>Participation in state festivals and exhibitions.</li>
          </ul>
        <h5>Diagnosis and advisory service :</h5>
          <ul class="px-5 text-justify">
            <li>Diagnosis of plant/crop/livestock problems</li>
            <li>Management of field problems</li>
            <li>Analysis of soil samples</li>
            <li>First hand information to approaching farmers</li>
          </ul>
        <h5>Help line Service :</h5>
          <ul class="px-5 text-justify">
            <li>The ATIC addresses queries/problems of the farmers through Kisan Helpline service (05944-234810 & 05944-235580) and Kisan Call centre (Toll free 1800 180 1551).</li>
            <li>ATIC is also connected with farmers for on-line solutions through Village Resource Centre (VRC) established with the help of Indian Space Research Organization (ISRO).</li>
          </ul>
  </div>

  
