<div class="container">
  <h2 class="text-center fs-1">Contact Us</h2>
  <div class="row text-center m-5 py-5">
    <div class="byPhone col-lg-6 col-12 ">
      <img class="img-fluid" src="/img/byPhone.png" alt="" style="width: 200px;">
      <div>
        <p class="p-3">
          <small>Monday to Friday, 9am to 4pm IST</small>
          <h5>Toll free:</h5>
          <span>
            +91 8542631254
          </span>
        </p>
      </div>
    </div>
    <div class="liveChat col-lg-6 col-12  ">
      <img class="img-fluid" src="/img/liveChat.png" alt="" style="width: 200px;">
      <h5 class="p-3 my-3">Chat with our Executive</h5>
      <button class="btn btn-success px-3"><a class="link-light" href="#">Chat Now</a></button>
    </div>
  </div>
</div>