</div>
<footer>
  <div class="bg-black bg-opacity-75 row p-5 text-white-50">
    <div class="contact_details col-12 col-lg-4">
      <h5>Address</h5>
      <Address class="py-2">
        Govind Ballabh Pant University of Agriculture and Technology, <br>
        Pantnagar, Udham Singh Nagar,<br>
        Uttarakhand 263145.
      </Address>
  
    </div>
    <div class="information col-12 col-lg-4">
      <h5 class="text-center">Quick Links</h5>
      <div class="text-center py-4 ">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/contact">Contact Us</a>
        <a class="nav-link" href="/products">Product</a>
      </div>
    </div>
    <div class="facilities col-12 col-lg-4">
      <h5 class="text-center">Connect with us</h5>
      <div class="d-flex justify-content-center py-5">
        <i class="p-3 fa-brands fa-facebook fa-beat fa-2xl" style="color: #c0c0c0;"></i>
        <i class="p-3 fa-brands fa-instagram fa-beat fa-2xl" style="color: #c0c0c0;"></i>
        <i class="p-3 fa-brands fa-linkedin fa-beat fa-2xl" style="color: #c0c0c0;"></i>
      </div>
    </div>
  </div>
</footer>