


<div class="bg-light p-0">
  <div class="text-center">
    <marquee class="css1 py-1"> <strong>Agriculture with New Perspective | Field is Futures | Agriculture with a new Skill |
        Grow naturally, Live natural </strong></marquee>
    <marquee behavior="alternate" scrollamount="15"> FREE HOME DELIVERY | CASH ON DELIVERY AVAILABLE | 100% Original
      Products</marquee>
  </div>
  <img src="/img/home.png" alt="banner" class="w-100">
  <div class="text-center mt-3">
    <h3 class="display-5">🌱AgroBet🌱</h3>
    <p class="display-7">"India’s largest Agri Inputs Marketplace Platform providing Agricultural Machinery, Agriculture
      Equipment, Agricultural Products, Poultry Equipment, Chemical Pesticides, <br>Organic Insecticides, etc. Our
      clientele includes Farmers, Nurseries, FPOs, NGOs and other Institutional Growers".</font>
    </p>
    <p class="display-6"><strong>
        "Bringing the farm to your fingertips - shop fresh and sustainable produce with ease on our
          agro-based ecommerce website."</p>
    <img src="/img/farm.png" alt="banner" class="w-100">
  </div>
  <div class="bg-light my-3">
    <p class="display-3 text-center text-success m-0"><strong>Services</strong></p>
    <div class="d-flex fs-4 justify-content-around">
      <table>
        <tr>
          <td>Agricultural food </td>
          <td >⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Organic vegetables </td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Dairy Products </td>
          <td>⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Eggs and Meat </td>
          <td>⭐⭐⭐</td>
        </tr>
      </table>
      <table>
        <tr>
          <td>Modern Equipment </td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Setting Privacy </td>
          <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Latest News</td>
          <td>⭐⭐⭐</td>
        </tr>
        <tr>
          <td>Pond and Sea Fish</td>
          <td>⭐⭐⭐</td>
        </tr>
      </table>
    </div>
  </div>
        

    <!-- <div class="col-lg-6 col-12 w-75">
      <div id="tractor">
        <div class="body">
          <div class="exhaust"></div>
          <div class="ventilation"></div>
          <div class="window"></div>
          <div class="wheel"></div>
          <div class="wheel-inner"></div>
          <div class="wheel-small"></div>
          <div class="wheel-small-inner"></div>
        </div>
      </div>-->
  <div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/banner.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/pesti.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </div>
  <div>
    <img src="/img/why.png" alt="banner" class="w-100">
  </div>

</div>